<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gatech.seclass.words6300">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ViewActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".ViewGameScoreActivity"
            android:parentActivityName=".ViewActivity">
        </activity>
        <activity android:name=".ViewGameScoreInstanceActivity"
            android:parentActivityName=".ViewGameScoreActivity">
        </activity>
        <activity android:name=".ViewLetterStatsActivity"
            android:parentActivityName=".ViewActivity">
        </activity>
        <activity android:name=".ViewWordBankActivity"
            android:parentActivityName=".ViewActivity">
        </activity>
        <activity android:name=".AdjustActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".AdjustLetterDistActivity"
            android:parentActivityName=".AdjustActivity">
        </activity>
        <activity android:name=".AdjustMaxTurnsActivity"
            android:parentActivityName=".AdjustActivity">
        </activity>
    </application>

</manifest>